body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 80%;
    max-width: 150px;
}

.login-container {
    width: 300px;
    padding: 20px 20px 30px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group .form-control {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #0056b3;
}

a {
    display: block;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.dashboard-container,
.profile-container,
.logout-container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dashboard-container h1,
.profile-container h1,
.logout-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.dashboard-container p,
.profile-container p,
.logout-container p {
    color: #666;
    margin-bottom: 20px;
}

.dashboard-container a,
.profile-container a,
.logout-container a {
    display: inline-block;
    color: #fff;
    background-color: #007BFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.register-container {
    width: 300px;
    padding: 20px 20px 30px;
    background-color: white;
    margin: 20px auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


.dashboard-container a:hover,
.profile-container a:hover,
.logout-container a:hover {
    background-color: #0056b3;
}
